@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");
@import "./include-media";

$textOne: #000;

@mixin section-container($marginTop: 0, $marginBottom: 0) {
  margin: $marginTop 8rem $marginBottom;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.appHover {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.appHoverTwo {
  transition: all 0.1s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.walletHover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);

  &:hover {
    // background-color: $greenTwo;
    transform: scale(1.03);

    .walletTop {
      color: rgba(255, 255, 255, 0.5);
    }

    .walletInner {
      & p,
      & svg {
        color: white !important;
      }
    }
  }
}

.linkHoverLine {
  width: 0%;
  height: 2px;
  background: #5db336;
  margin-top: 2px;
}

@keyframes link-hover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.linkHover {
  &:hover {
    text-decoration: none !important;

    .linkHoverLine {
      animation-name: link-hover;
      animation-duration: 0.35s;
      animation-fill-mode: forwards;
    }
  }
}

.linkHover[data-selected="true"] {
  .linkHoverLine {
    width: 100%;
  }

  &:hover {
    text-decoration: none !important;

    .linkHoverLine {
      animation: none;
    }
  }
}

.img {
  object-fit: cover;
}

.appBox {
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
}

.profileBox {
  box-shadow: 0px 15px 50px rgba(160, 163, 189, 0.15);
}

.otp_container {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  grid-gap: 1.75rem;

  @include media("<=phone") {
    grid-gap: 1rem;
  }
}

.otp_input {
  flex: 1;
  width: 100%;
  height: 100px;
  background: #f1f1f1;
  border-radius: 0.75rem;
  border: transparent;
  color: #808080;
  font-size: 2rem;

  @include media("<=tablet") {
    height: 80px;
    border-radius: 0.5rem;
  }

  @include media("<=phone") {
    height: 70px;
    border-radius: 0.5rem;
  }

  @include media("<=400px") {
    height: 60px;
    border-radius: 0.5rem;
  }
}

.otp_container_six {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr) !important;
  grid-gap: 1rem;

  @include media("<=phone") {
    grid-gap: 0.5rem;
  }
}

.otp_input_six {
  flex: 1;
  width: 100%;
  height: 70px;
  background: #f1f1f1;
  border-radius: 0.75rem;
  border: transparent;
  color: #808080;
  font-size: 2rem;

  @include media("<=tablet") {
    height: 70px;
    border-radius: 0.5rem;
  }

  @include media("<=phone") {
    height: 50px;
    border-radius: 0.5rem;
  }

  @include media("<=400px") {
    height: 40px;
    border-radius: 0.5rem;
  }
}

.otp_input_focus {
  border: 1px solid #5cb23a !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #eff0f6 inset !important;
  -webkit-text-fill-color: $textOne !important;
}

.loginInput:-webkit-autofill,
.loginInput:-webkit-autofill:hover,
.loginInput:-webkit-autofill:focus,
.loginInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: $textOne !important;
}

.signupInput:-webkit-autofill,
.signupInput:-webkit-autofill:hover,
.signupInput:-webkit-autofill:focus,
.signupInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: $textOne !important;
}

.PhoneInput {
  width: 100%;
}

.PhoneInputInput {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 0.5rem;
  background-color: #eff0f6;
  font-size: 0.875rem;
  color: #22202d;
  font-family: "Kanit", sans-serif;
  height: 48px;
}

.PhoneInputCountry {
  padding: 0 1rem;
  margin-right: 0px !important;
  background-color: #eff0f6;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.signup-phone-input .PhoneInputInput {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-color: #dbe2ea;
  border-width: 1px;
  padding: 0 0.5rem;
  background-color: white;
  font-size: 0.875rem;
  color: #22202d;
  font-family: "Kanit", sans-serif;
  height: 48px;
}

.signup-phone-input .PhoneInputCountry {
  padding: 0 1rem;
  margin-right: 0px !important;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-color: #dbe2ea;
  border-width: 1px;
  border-right: none;
}

.signup-phone-input-error .PhoneInputInput {
  border-color: red;
}

.signup-phone-input-error .PhoneInputCountry {
  border-color: red;
}

.table-excel-border::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  border-right: 1px solid #f2f2f2;
}
